# Ever feel like Charley?

<img src='charley.2e16d0ba.fill-735x490.jpg'>

# Welcome to Code from the Solutions - the stuff that makes you go huh?

### Your host - Matthew Daly

#### Linkedin:
https://www.linkedin.com/in/matthew-d-12a22156/  <br/>
Please feel free to connect with me. My friend tells me I need more friends.

## Preamble

Before we get started, a little background on why I decided to host a study group on this topic. In preparation for starting a bootcamp I spent a fair bit of time on [CodeWars](https://www.codewars.com/r/Btbo-Q). 

I would like to share a couple of my experiences from there. These examples are in JavaScript but don't worry about trying to follow the code, they are more emotional examples than anything else.

## The Challenge - Snail

Given an n x n array, return the array elements arranged from outermost elements to the middle element, traveling clockwise.

array = [[1,2,3],
         [4,5,6],
         [7,8,9]]
snail(array) #=> [1,2,3,6,9,8,7,4,5]
For better understanding, please follow the numbers of the next array consecutively:

array = [[1,2,3],
         [8,9,4],
         [7,6,5]]
snail(array) #=> [1,2,3,4,5,6,7,8,9]

#### This should make it easier to understand:

<img src='snail.png'>

Basically, I had to return an array that would follow a snail-like spiraled line through any unknown array with a shape of n x n.

#### My Solution, which at the time I was quite proud (again, don't worry about trying to follow the code):

function snail(arr){
  let template = arr.map(function (subarray) {
    return subarray.map( function () {
    return false
    });
  });
  
  //console.log(template)
  let row = template.length;
  let col = template[0].length;
  let total =  row * col;
  let dRow = [-1, 0, 1, 0];
  let dCol = [0, 1, 0, -1];
  let step = 1; 
  let xr = 0;
    let yc = 0;
    let resultArr = [];

    while(resultArr.length < total){
      //console.log(xr, yc)
      resultArr.push(arr[xr][yc]);
      template[xr][yc] = true;
      let XR = xr + dRow[step];
         let YC = yc + dCol[step];
         if(XR >= 0 && XR < row && YC >= 0 && YC < col && template[XR][YC] !== true){
        xr = XR;
        yc = YC;
      } else{
        step = (step +1)%4;
        xr = xr + dRow[step];
        yc = yc + dCol[step];
      }
    }

    return resultArr;
}

#### Proud, until I saw this:

On codewars, once you solve a challenge you are allowed to see how others also solved it.

function snail(array) {
  var vector = [];
  while (array.length) {
    vector.push(...array.shift());
    array.map(row => vector.push(row.pop()));
    array.reverse().map(row => row.reverse());
  }
  return vector;
}

## Then there was this one.
### The Challenge - helloWorld

###### Return 'helloWorld'

Disallowed functionality:

- Strings
- Numbers
- Regular Expressions
- Functions named "Hello", "World", "HelloWorld" or anything similar.
- Object keys named "Hello", "World", "HelloWorld" or anything similar.
- Without using the above, output the string "Hello World!" to prove that there is always a way.

## My Solution.

var helloWorld = function(){

  return String.fromCharCode((!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) * (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]), 
  ((!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) * (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) + (+!![])), 
  (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) * (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) + ((!+[]+!![]+!![]+!![]) * (!+[]+!![])), 
  (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) * (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) + ((!+[]+!![]+!![]+!![]) * (!+[]+!![])),
  (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) * (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) + (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) + (+!![]),
  (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) * (!+[]+!![]+!![]+!![]),
  (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) * (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) + (!+[]+!![]+!![]+!![]+!![]+!![]),
  (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) * (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) + (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) + (+!![]),
  (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) * (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) + ((!+[]+!![]+!![]+!![]+!![]+!![]+!![]) * (!+[]+!![])),
  (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) * (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) + ((!+[]+!![]+!![]+!![]) * (!+[]+!![])),
  (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) * (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]),
  (!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]) * (!+[]+!![]+!![]+!![]) + (!+[]));
  
}

## Again, my pride was short lived.

var helloWorld = function () {
  // Hello World!
  var start = [,,,,,,,,,,,,,,,,,,,].length,
      end = [,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,].length;
  return helloWorld.toString().slice(start, end);
}

#### So why do I bring all of this up?

As I've been going through the program, these coding challenges and other's like them have kept popping up in my thoughts and I only recently figured out why. 

In my solutions we see someone working, working hard. Basically doing the equivalent of manual labor with code, where in the more eloquent solutions, we see someone leveraging the power of the language to accomplish the same thing. 

Imagine we needed to dig a hole. Where I am using my hands, they (whoever the 'they' may be) are using a shovel. Then when I finally work my way up to a shovel, they bring in a backhoe. ('They' suck!)

I didn’t even know there was a backhoe option. 

In working through the labs, I’ve had a similar experience. I’ll brute force a bit of code to get through the lab, only to look at the solution to see some piece of code that just baffles me. 

Remember the first time you came across a lambda function? We will get to that one in a moment. 

The trick is not to get discouraged - yeah, easier said than done and all that... You just spent hours gluing for loops together and you’ve got more counters than you know what do to with, only to see what took you twenty lines accomplished in one or two. 

Don’t get discouraged, get excited, someone is handing you a shovel. 

My goal for this study group is for us to take a look at some examples of reoccurring methods, functions, and ways of doing things that keep popping up in the solutions and demystify them. To show that in most cases they are just short-cut versions of what we already know how to do and that by adding them to our code vocabulary our lives will become infinitely easier.

We will become 'they' and they will suck a little less. Just a little.

So to begin today, I would like to take a look at a few functions that I keep coming across in the solutions that have not necessarily been covered that deeply within the lessons. Then I would like to open it up to the group and see if you have any particular pieces of code that are confusing you. I may not know them, but I am sure we will be able to figure it out together.

But, first a musical break:

In [1]:
from IPython.display import HTML
HTML('<iframe width="560" height="315" src="https://www.youtube.com/embed/iyLdoQGBchQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')

_"Write a function called open_restaurants using filter and lambda that takes in a list of restaurants and only returns those that are open. You can use the dictionary key is_closed to make a decision in your code."_

Lambda? Come again. The song from the eighties? I was actually mispronouncing it up to a week ago when Eli corrected me. Now that would have been embarrassing during an interview. 

If any of your experiences were like mine, this function seemed to appear out of nowhere. I spent a good hour looking through all the material we had covered up until that point before I had the genius idea to Google it (by the way it wasn't ever mentioned, still not sure if that is by design or not). 

So let's take a look at it. <br><br>
_map was pretty well covered in the lessons, so I will take it as read that we are familiar with it. If not please let me know._

In [2]:
# First lets get some data to work with
restaurants = [{'is_closed': False,
  'name': 'Fork & Fig',
  'price': '$$',
  'review_count': 610},
 {'is_closed': False,
  'name': 'Salt And Board',
  'price': '$$',
  'review_count': 11},
 {'is_closed': False,
  'name': 'Frontier Restaurant',
  'price': '$',
  'review_count': 1373},
 {'is_closed': False,
  'name': 'Nexus Brewery',
  'price': '$$',
  'review_count': 680},
 {'is_closed': False,
  'name': "Devon's Pop Smoke",
  'price': '$$',
  'review_count': 54},
 {'is_closed': True,
  'name': 'Cocina Azul',
  'price': '$$',
  'review_count': 647},
 {'is_closed': False,
  'name': 'Philly Steaks',
  'price': '$$',
  'review_count': 25},
 {'is_closed': True,
  'name': 'Stripes Biscuit',
  'price': '$$',
  'review_count': 20}]

In the lab, one of the tasks was to create a list of all of the restaurant names. The solution they gave was:

In [3]:
names = list(map(lambda restaurant: restaurant['name'], restaurants))
names

['Fork & Fig',
 'Salt And Board',
 'Frontier Restaurant',
 'Nexus Brewery',
 "Devon's Pop Smoke",
 'Cocina Azul',
 'Philly Steaks',
 'Stripes Biscuit']

In [4]:
# Now how could we do the same thing with just a for loop:
for_looped_names = [] #taking the place of the list function
for restaurant in restaurants: #for loop taking the place of the map function 
    for_looped_names.append(restaurant['name']) #append doing the rest of the work of the lambda function

for_looped_names

['Fork & Fig',
 'Salt And Board',
 'Frontier Restaurant',
 'Nexus Brewery',
 "Devon's Pop Smoke",
 'Cocina Azul',
 'Philly Steaks',
 'Stripes Biscuit']

Or how about another example from the same lab; bear with me if this all seems pretty simple, it is building to something...I hope.

Let's say we wanted to get how many reviews were written for each restaurant. The code from the solution was:

In [5]:
review_counts = list(map(lambda restaurant: restaurant['review_count'], restaurants))
review_counts # [610, 11, 1373, 680, 54, 647, 25, 20]

[610, 11, 1373, 680, 54, 647, 25, 20]

Again there is nothing being done here that couldn't be accomplished using a for loop.

In [6]:
review_counts_for_loopped = []
for restaurant in restaurants:
    review_counts_for_loopped.append(restaurant['review_count'])
    
review_counts_for_loopped

[610, 11, 1373, 680, 54, 647, 25, 20]

So lambda, when combined with functions like list, map and filter, accomplish succinctly the same things we could accomplish verbosely using loops. 

Languages have a way they want to be used.  Javascript, Ruby...have a way about them. In working with Python it seems like this kind of economy of movement is what the language is looking for. 

Lambda, great got it. Simple. Until you see this:

In [26]:
list_interactions =  sorted(interactions, key=lambda inter: inter[2], reverse=True)[:7]

NameError: name 'interactions' is not defined

It is important to remember that lambda is just a way of calling anonymous functions. Its power comes in combining it with other functions. In the example above, with the sorted function. Say we had a group of words:

In [13]:
sorted(['Some', 'words', 'sort', 'differently'])

['Some', 'differently', 'sort', 'words']

The problem is that the sorted function is sorting upper case letters first, not taking alphabetic order into account. Now we could write a named function to be used with sorted:

In [14]:
def lowercased(word): 
    return word.lower()

In [15]:
sorted(['Some', 'words', 'sort', 'differently'], key=lowercased)

['differently', 'Some', 'sort', 'words']

Or we could just do it inline, using lambda:

In [11]:
sorted(['Some', 'words', 'sort', 'differently'], key=lambda word: word.lower())

['differently', 'Some', 'sort', 'words']

_Full disclosure, the above example was taken almost verbatim from an answer posted on StackOverflow by [Martijn Pieters](https://stackoverflow.com/questions/13669252/what-is-key-lambda/13669294). Why reinvent the wheel...all hail Martijn!_

### The List Comprhension

I started with lambda because this kind of Russian Doll function-stuffing leads us nicely to the list comprehension. (Russian Doll, great show, by the way, very East Village.)

In [12]:
# get some data to work with
import pandas as pd
import numpy as np
df = pd.read_csv('train.csv')

Let's take a look at it in action, the following example was taken from the Ridge and Lasso Regression Lab. In preparation for linear regression, we are asked to create a new data fame from an existing one, minus the target and any noncontinuous features.

In the solutions they do this by using a list comprehension:

In [13]:
features = [col for col in df.columns if df[col].dtype in [np.float64, np.int64] and col!='SalePrice']
X = df[features]
X.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,548,0,61,0,0,0,0,0,2,2008
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,460,298,0,0,0,0,0,0,5,2007
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,608,0,42,0,0,0,0,0,9,2008
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,642,0,35,272,0,0,0,0,2,2006
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,836,192,84,0,0,0,0,0,12,2008

Which we could just as easily do with a, you guessed it, a loop.

In [14]:
features = []
for col in df.columns:
    if df[col].dtype == float or df[col].dtype == int and col != "SalePrice":
        features.append(col)
    
X = df[features]
X.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,548,0,61,0,0,0,0,0,2,2008
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,460,298,0,0,0,0,0,0,5,2007
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,608,0,42,0,0,0,0,0,9,2008
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,642,0,35,272,0,0,0,0,2,2006
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,836,192,84,0,0,0,0,0,12,2008

We are basically just wrapping a for loop in brackets and the rest takes care of itself. This kind of brevity seems a key feature of Python and something I think we should be striving for in our own code. Without sacrificing readability, of course.

# <center> Pop Inquisition!!</center>

<img src='inquisition.gif'>

First, I will make a list of squares using a for loop:

In [15]:
squares = []
for i in range(1, 21):
    if i ** 2 % 2 == 0:
        squares.append(i ** 2)

In [23]:
squares

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

Does anybody want to take a shot writing the same code as a list comprehension?

In [24]:
# answer: squares = [x ** 2 for x in range(1,21) if x % 2 == 0]

Now how we find all numbers within the list that are between 60 and 300:

In [25]:
def f(x):
    if x > 60 and x < 300:
        return True
    else:
        return False
    
print(list(filter(f, squares)))

[64, 100, 144, 196, 256]

Who can do the same thing, but using a lambda function?

In [19]:
# answer: print(list(filter(lambda x : x > 60 and x < 300, squares)))

There are two more functions I have come across that I would like to touch on. The first or which is:

## Zip

<img src='zip.jpg'>

I came across zip a couple of times, but could never figure out how to use it in my own code. I finally had the chance while working on the Module 2 final project. Bear with me as will need to load a SQL data base and run a few lines of code for our example to work.

In [29]:
import sqlite3 as sql
from sqlalchemy import create_engine
from sqlalchemy.orm import Session, sessionmaker
from sqlalchemy import inspect

engine = create_engine('sqlite:///Northwind_small.sqlite', echo=True)
Session = sessionmaker(bind=engine)
session = Session()
conn = engine.connect()

2019-03-25 20:56:01,018 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-03-25 20:56:01,019 INFO sqlalchemy.engine.base.Engine ()
2019-03-25 20:56:01,020 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-03-25 20:56:01,021 INFO sqlalchemy.engine.base.Engine ()

So the problem at hand: I have an SQL database with multipliable tables that I want to convert into individual panda dataframes.  First I want to get a list of the table names.

In [37]:
inspector = inspect(engine)
table_names = inspector.get_table_names()
table_names

2019-03-25 21:14:17,275 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-03-25 21:14:17,277 INFO sqlalchemy.engine.base.Engine ()

['Category',
 'Customer',
 'CustomerCustomerDemo',
 'CustomerDemographic',
 'Employee',
 'EmployeeTerritory',
 'Order',
 'OrderDetail',
 'Product',
 'Region',
 'Shipper',
 'Supplier',
 'Territory']

Now I want to create a list of  SQL queries, I can do this with a list comprehension:

In [38]:
sql_conns = ['SELECT * FROM [Order]' if name == 'Order' else 'SELECT * FROM ' + name for name in table_names]

__Point of Interest:__ notice how I have put the exception - [order] - at the front of the query. If you try to make the exception the _else_, the code will throw an error.

Huh what now, how can I take my two lists and somehow merge them together to create my dictionary of data-frames. Be like Dr. Evil and zip it! He is a Dr. after all.

In [39]:
dataframes = {}
for table, sql_conn in zip(table_names, sql_conns):
    dataframes[table] = pd.read_sql_query(sql_conn, conn)

2019-03-25 21:19:29,315 INFO sqlalchemy.engine.base.Engine SELECT * FROM Category
2019-03-25 21:19:29,316 INFO sqlalchemy.engine.base.Engine ()
2019-03-25 21:19:29,321 INFO sqlalchemy.engine.base.Engine SELECT * FROM Customer
2019-03-25 21:19:29,322 INFO sqlalchemy.engine.base.Engine ()
2019-03-25 21:19:29,327 INFO sqlalchemy.engine.base.Engine SELECT * FROM CustomerCustomerDemo
2019-03-25 21:19:29,327 INFO sqlalchemy.engine.base.Engine ()
2019-03-25 21:19:29,330 INFO sqlalchemy.engine.base.Engine SELECT * FROM CustomerDemographic
2019-03-25 21:19:29,331 INFO sqlalchemy.engine.base.Engine ()
2019-03-25 21:19:29,333 INFO sqlalchemy.engine.base.Engine SELECT * FROM Employee
2019-03-25 21:19:29,337 INFO sqlalchemy.engine.base.Engine ()
2019-03-25 21:19:29,345 INFO sqlalchemy.engine.base.Engine SELECT * FROM EmployeeTerritory
2019-03-25 21:19:29,346 INFO sqlalchemy.engine.base.Engine ()
2019-03-25 21:19:29,350 INFO sqlalchemy.engine.base.Engine SELECT * FROM [Order]
2019-03-25 21:19:29,350 INFO sqlalchemy.engine.base.Engine ()
2019-03-25 21:19:29,360 INFO sqlalchemy.engine.base.Engine SELECT * FROM OrderDetail
2019-03-25 21:19:29,361 INFO sqlalchemy.engine.base.Engine ()
2019-03-25 21:19:29,374 INFO sqlalchemy.engine.base.Engine SELECT * FROM Product
2019-03-25 21:19:29,375 INFO sqlalchemy.engine.base.Engine ()
2019-03-25 21:19:29,380 INFO sqlalchemy.engine.base.Engine SELECT * FROM Region
2019-03-25 21:19:29,381 INFO sqlalchemy.engine.base.Engine ()
2019-03-25 21:19:29,385 INFO sqlalchemy.engine.base.Engine SELECT * FROM Shipper
2019-03-25 21:19:29,387 INFO sqlalchemy.engine.base.Engine ()
2019-03-25 21:19:29,391 INFO sqlalchemy.engine.base.Engine SELECT * FROM Supplier
2019-03-25 21:19:29,392 INFO sqlalchemy.engine.base.Engine ()
2019-03-25 21:19:29,397 INFO sqlalchemy.engine.base.Engine SELECT * FROM Territory
2019-03-25 21:19:29,398 INFO sqlalchemy.engine.base.Engine ()

In [40]:
dataframes.keys()

dict_keys(['Category', 'Customer', 'CustomerCustomerDemo', 'CustomerDemographic', 'Employee', 'EmployeeTerritory', 'Order', 'OrderDetail', 'Product', 'Region', 'Shipper', 'Supplier', 'Territory'])

In [41]:
dataframes['Customer'].head()

,Id,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,Western Europe,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,Central America,05021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,Central America,05023,Mexico,(5) 555-3932,None
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,British Isles,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,Northern Europe,S-958 22,Sweden,0921-12 34 65,0921-12 34 67

Success! As we see zip does exactly that, it zips things together. Here two lists, saving me a bunch of time having to individually assign each of these SQL queries to individual variables. Also, it would be quite easy to name this function and reuse it if we needed to scale. 

Which brings us to our last function of the day, similar in spirit to zip -

## Enumerate

Basically this function that allows you to iterate over the index and value of an item in a list, without using the dreaded counter. So say we wanted to iterate over a list of seventies detectives and assign them a rank, with 0 being bad-bad-mama-jama, who don't need no number to tell them how bad they are.

In [50]:
gum_shoes = ['Kojak', 'Jim Rockford', 'Virgil Tibbs', 'Quincy', 'Columbo', 'Jennifer Hart', 'Starsky (but not Hutch)']

Normally if we would want to accomplish this, we would have to do something like this:

In [51]:
i = 0
for sluth in gum_shoes:
    print(i, sluth)
    i+=1

0 Kojak
1 Jim Rockford
2 Virgil Tibbs
3 Quincy
4 Columbo
5 Jennifer Hart
6 Starsky (but not Hutch)

Or we could do something line this:

In [53]:
for i, sluth in enumerate(gum_shoes):
    print(i, sluth)

0 Kojak
1 Jim Rockford
2 Virgil Tibbs
3 Quincy
4 Columbo
5 Jennifer Hart
6 Starsky (but not Hutch)

Much more eloquent and it gets better. There is no doubt that "Who love's you baby' Kojak has nothing to prove, but lets say we wanted to give him the big number one anyway.